<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <% messages.forEach(item => {%>
        <li>
          <%= item.text%> by <%=item.user%> on <%=item.added.getDate()%>-<%=item.added.getMonth()%>-<%=item.added.getFullYear()%>
        </li>
        <%});%>
    </ul>
    <button>
      <a href="/new">Add new message</a>
    </button>
  </body>
</html>
